@model AccountLoginViewModel

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor context
@{
    ViewData["Title"] = "Login";
}

<h3>Login</h3>

<form asp-controller="Account" asp-action="Login" asp-route-returnUrl="@context.HttpContext.Request.Query["ReturnUrl"].ToString()" method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="Email"></label><br>
        <input asp-for="Email" />
    </div>

    <div>
        <label asp-for="Password"></label><br>
        <input asp-for="Password" />
    </div>
    <div>
        <label asp-for="Remain">Remain in the system after closing</label><br>
        <input asp-for="Remain" type="checkbox" /><br>
    </div>
    

    <button type="submit">Login</button>
    
</form>

