@model IEnumerable<Human>
@{
    var humanName = ViewData["country"] as List<Human>;
}
@foreach (var human in humanName)
{
    <table>
        <tr>
            <td>Name human =</td>
            <td>@human.FirstName </td>
        </tr>

        
    </table>
    <h1>------------------------------------------------------</h1>
    <p></p>

}
