@model Human

    <form asp-controller="Human" asp-action="Create" method="post">
        @*<div asp-validation-summary="All"></div>*@
        <label asp-for="FirstName" for="FirstName">FirstName</label><br>
        <input asp-for="FirstName" name="FirstName" type="text" /><br>
        <span class="text-danger" asp-validation-for="FirstName"></span><br>

        <label asp-for="LastName">LastName</label><br>
        <input asp-for="LastName" type="text" /><br>
        <span class="text-danger" asp-validation-for="LastName"></span><br>

        <label asp-for="Age">Age</label><br>
        <input asp-for="Age" type="number" /><br>
        <span class="text-danger" asp-validation-for="Age"></span><br>

        <label asp-for="IsSick">IsSick</label><br>
        <input asp-for="IsSick" type="checkbox" /><br>

        <label asp-for="Gender">Gender</label><br>
        <input asp-for="Gender" type="text" /><br>
        <span class="text-danger" asp-validation-for="Gender"></span><br>

        <label asp-for="CountryId">CountryId</label><br>
        <input asp-for="CountryId" type="number" /><br>
        <span class="text-danger" asp-validation-for="CountryId"></span><br>

        <button type="submit">Create human</button>

    </form>
